.recipe-thumbnail {
  width: 200px;
  height: 100px;
}


.recipe-list {
  display: inline;
  float: left;
}


.recipe-list div {
  display: block;
  padding: 10px;
  padding-bottom: 80px;
  padding-right: 20px;
  border-spacing: 10px;
  border: 1px;
  margin-right: 5px;
}

.recipe-list div.featured {
  background-color: #90ee90;
}

.active a {
  color: white!important;
}

hr {
  height: 10px;
}
